<div class="jumbotron" style="margin-bottom: 100px;">

  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag('nightrun_trans_white.png', height: '160') %>
    </a>
    <div class="media-body">
      <h1 class="media-heading" style="text-align: right">Nightrun 2014</h1>
      <h2 class="media-heading" style="text-align: right">Sonntag, 19. Juli</h2>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-12">
    <h2>Wettbewerbe</h2>
  </div>
</div> -->

<div class="page-header">
  <h1 id="navbar">Wettbewerbe</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Einzelstarter</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
        <% Event.where(:team_size => 1).each do |event| %>
          <li>
            <a href="/athlets">
              <%= event.name %>
              <span class="badge badge-info pull-right">
                <%= Athlet.where(:event => event.name).distinct.count %>
              </span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Staffeln</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <% Event.where.not(:team_size => 1).each do |event| %>
          <li>
            <a href="/relays">
              <%= event.name %>
              <span class="badge badge-success pull-right">
                <%= Athlet.where(:event => event.name).distinct.count(:relaystarter) %>
              </span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Export</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <%= link_to athlets_path(format: "csv") do %>
          <%= fa_icon 'download' %> CSV
          <% end %>
        </li>
        <li>
          <%= link_to athlets_path(format: "xls") do %>
          <%= fa_icon 'download' %> Excel
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Import</h3>
    </div>
    <div class="panel-body">
      <%= form_tag import_athlets_path, multipart: true do %>
      <!-- <span class="btn btn-primary btn-file">
        Durchsuchen <%= file_field_tag :file %>
      </span> -->
      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-default btn-file">
            <%= fa_icon 'search' %>
            Durchsuchen <%= file_field_tag :file %>
          </span>
        </span>
        <input type="text" class="form-control" readonly="">
      </div>
      <br />
      <button type="submit" class="btn btn-primary pull-right">
        <%= fa_icon 'upload' %>
        Upload
      </button>
      <% end %>
    </div>
  </div>
</div>
</div>