<div class="row">
  <div class="col-xs-8">
    <div class="panel panel-primary athlet">
      <div class="panel-heading">Athlet</div>
      <div class="panel-body">
        <%= simple_form_for(@athlet, html: { class: 'form-horizontal' },
          wrapper: :horizontal_form,
          wrapper_mappings: {
            check_boxes: :horizontal_radio_and_checkboxes,
            radio_buttons: :horizontal_radio_and_checkboxes,
            file: :horizontal_file_input,
            boolean: :horizontal_boolean
          }) do |f| %>
          <%= f.error_notification %>
            <% @athlet.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>

          <div class="form-inputs">
            <%= f.input :starter %>

            <%= f.input :surname, :input_html => { :class => :surname,
              :data => { :autocomplete => autocomplete_surname_athlets_path } } %>
            <%= f.input :firstname, :input_html => { :class => :firstname,
              :data => { :autocomplete => autocomplete_firstname_athlets_path } } %>
            <%= f.input :birthday, :as => :integer, :input_html => { :class => :birthday, :value => @athlet.birthday } %>
            <%# http://stackoverflow.com/questions/10767859/overriding-model-attribute-readers-does-not-affect-simple-form-input-fields %>
            <%#= f.input :sex %>

            <%= f.input :sex, collection: [:M, :W], :input_html => { :class => :sex }  %>

            <%= f.input :club, :input_html => { :class => :club,
              :data => { :autocomplete => autocomplete_club_athlets_path } } %>
            <%#= f.input :event %>
            <%= f.input :event,
            :as => :select,
            :collection => Event.where(:team_size => 1).where(:active => true).order(:name => :asc),
            :label_method => :name,
            :value_method => :name,
            :include_blank => false,
            :input_html => { :class => "chosen"} %>
            <%#= f.input :event, :as => :hidden %>
            <%#= f.input :relaytm %>
            <%#= f.input :relaystarter %>
            <%= f.input :relaytmsize, :as => :hidden %>
          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div id="suggestionBar" class="affix-top" data-spy="affix" data-offset-top="160" data-offset-bottom="0">
      <div class="panel panel-primary athlet">
        <div class="panel-heading">
          <%= fa_icon 'refresh' %>
          Vorschläge
        </div>
      </div>
      <div id="suggestionBox"></div>
    </div>
  </div>
</div>