<!-- <h3>Edit Relay</h3> -->
<div class="page-header">
  <h1 id="navbar">Staffel bearbeiten</h1>
</div>

<div class="row">
  <div class="col-xs-8">

<% new_record = @athlets.first.new_record? %>
<%= form_tag new_record ? create_multiple_athlets_path : update_multiple_athlets_path,
  method: new_record ? :post : :put, class: 'form-horizontal' do %>
  <div class="row relay">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= fa_icon "users" %>
          Relay
        </div>
        <div class="panel-body">
          <%= simple_fields_for @athlets.first, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
            <div class="row">
              <div class="col-md-6">
                <div class="virtual-panel-left">
                  <%= f.input :relaystarter %>
                  <%= f.input :starter %>
                  <%= f.input :club, :input_html => {
                    :data => { :autocomplete => autocomplete_club_athlets_path } } %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="virtual-panel-right">
                  <%= f.input :eventname %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% count = 0 %>
    <% @athlets.each do |athlet| %>

      <% if false %><!-- Errors -->
        <li>
          <%= hidden_field_tag "athlet_ids[]", athlet.id %>
          <%= athlet.surname %>
          <ul class="errors">
            <% athlet.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </li>
      <% end %>


      <div class="col-md-6">
        <div class="panel panel-info athlet">
          <!-- <div class="panel-heading">Athlet</div> -->
          <div class="panel-body">
            <%= simple_fields_for "athlets[]", athlet, wrapper: :horizontal_form do |f| %>
              <fieldset>
                <legend>
                  <%#= fa_icon "users" %>
                  Athlet <%= (count += 1) %>
                </legend>
                <% if athlet.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(athlet.errors.count, "error") %> prohibited this athlet from being saved:</h2>
                    <ul>
                    <% athlet.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <%= f.input :firstname, :input_html => {
                  :class => :firstname, :data => { :autocomplete => autocomplete_firstname_athlets_path } } %>
                <%= f.input :surname, :input_html => {
                  :class => :surname, :data => { :autocomplete => autocomplete_surname_athlets_path } } %>
                <%#= f.input :birthday, :as => :integer, :input_html => { :class => :birthday, :value => athlet.birthday } %>
                <%= f.input :birthday, :as => :string, :input_html => { :class => :birthday, :value => athlet.birthday } %>
                <%# http://stackoverflow.com/questions/10767859/overriding-model-attribute-readers-does-not-affect-simple-form-input-fields %>
                <%#= f.input :sex %>

                <%= f.input :sex, collection: [:M, :W, :U], :input_html => { :class => :sex } %>

                <%= f.input :relaytmsize, :input_html => { :class => :relaytmsize }, :as => :hidden %>
                <%= f.input :transponderid, :input_html => { :class => :transponderid, :value => athlet.transponderid } %>
                <%= f.input :starttime, :input_html => { :class => :starttime, :value => athlet.starttime } %>
                <%= f.input :additionals, :input_html => { :class => :additionals, :value => athlet.additionals } %>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= submit_tag "Aktualisieren", :class => "btn btn-primary" %>
  </div>
<% end %>

  </div>
  <div class="col-xs-4">
    <div id="suggestionBar" class="affix-top" data-spy="affix" data-offset-top="160" data-offset-bottom="0">
      <div class="panel panel-primary athlet">
        <div class="panel-heading">
          <%= fa_icon 'refresh' %>
          Vorschläge
        </div>
      </div>
      <div id="suggestionBox"></div>
    </div>
  </div>
</div>