<br />
<br />

<div class="row">
<div class="col-md-6">

<table class="table huge">
  <tr><th>Starter:</th>
  <td><%= @athlet.starter %></span></td></tr>



  <tr><th width="50%">Vorname:</th>
  <td><%= @athlet.firstname %></td></tr>

  <tr><th>Nachname:</th>
  <td><%= @athlet.surname %></td></tr>

  <tr><th>Geburtstag:</th>
  <td><%= @athlet.birthday %></td></tr>

  <tr><th>Geschlecht:</th>
  <td><%= @athlet.sex %></td></tr>

  <tr><th>Club:</th>
  <td><%= @athlet.club %></td></tr>

  <tr><th>Event:</th>
  <td><%= @athlet.eventname %></td></tr>

  <tr><th>Relay Team Size:</th>
  <td><%= @athlet.relaytmsize %></td></tr>

  <tr><th>Transponder Id:</th>
  <td><%= @athlet.transponderid %></td></tr>

  <tr><th>Startzeit:</th>
  <td><%= @athlet.starttime %></td></tr>

  <tr><th>Additionals:</th>
  <td><%= @athlet.additionals %></td></tr>

</table>

</div>
</div>

<br />
<br />

<%= link_to 'Bearbeiten', edit_athlet_path(@athlet) %> |
<%= link_to 'Übersicht', athlets_path %> |
<%= link_to 'Weiteren Athleten erfassen', new_athlet_path(:eventname => @athlet.eventname) %>
