<p>
  <strong>Starter:</strong>
  <%= @athlet.starter %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @athlet.firstname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @athlet.surname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @athlet.birthday %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @athlet.sex %>
</p>

<p>
  <strong>Club:</strong>
  <%= @athlet.club %>
</p>

<p>
  <strong>Event:</strong>
  <%= @athlet.event %>
</p>

<p>
  <strong>Relaytm:</strong>
  <%= @athlet.relaytm %>
</p>

<p>
  <strong>Relaystarter:</strong>
  <%= @athlet.relaystarter %>
</p>

<%= link_to 'Bearbeiten', edit_athlet_path(@athlet) %> |
<%= link_to 'Übersicht', athlets_path %> |
<%= link_to 'Weiteren Erfassen', new_athlet_path %>
