<h1>Eventübersicht</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Teamgröße</th>
      <th>Aktiv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.team_size %></td>
        <td><%= event.active ? 'ja' : 'nein' %></td>
        <td><%= link_to 'Details', event %></td>
        <td><%= link_to 'Bearbeiten', edit_event_path(event) %></td>
        <td><%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Sind sie sich sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Veranstaltung', new_event_path, :class => 'btn btn-primary' %>
