<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @event.name %></dd>

  <dt>Teamgröße:</dt>
  <dd><%= @event.team_size %></dd>
</dl>

<%= link_to 'Bearbeiten', edit_event_path(@event) %> |
<%= link_to 'Zurück', events_path %>
