<div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading">Athlet</div>
    <div class="panel-body">
      <%= f.input :firstname, :input_html => {
        :data => { :autocomplete => autocomplete_firstname_athlets_path } } %>
      <%= f.input :surname, :input_html => {
        :data => { :autocomplete => autocomplete_surname_athlets_path } } %>
      <%= f.input :birthday, :as => :integer, :input_html => { :value => f.object.birthday } %>
      <%# http://stackoverflow.com/questions/10767859/overriding-model-attribute-readers-does-not-affect-simple-form-input-fields %>
      <%#= f.input :sex %>

      <%= f.input :sex, collection: [:M, :F] %>

      <%= f.input :relaytmsize, :as => :hidden %>
    </div>
  </div>
</div>