<% athlet = f.object %>

<% if false %><!-- Errors -->
  <li>
    <%= hidden_field_tag "athlet_ids[]", athlet.id %>
    <%= athlet.surname %>
    <ul class="errors">
      <% athlet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </li>
<% end %>


<div class="col-md-6">
  <div class="panel panel-default athlet">
    <div class="panel-body">
      <fieldset>
        <legend>
          <%#= fa_icon "users" %>
          Athlet <%= athlet.relaytm %>
        </legend>
        <% if athlet.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(athlet.errors.count, "error") %> prohibited this athlet from being saved:</h2>
            <ul>
            <% athlet.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :firstname, :input_html => {
          :class => :firstname, :data => { :autocomplete => autocomplete_firstname_athlets_path } } %>
        <%= f.input :surname, :input_html => {
          :class => :surname, :data => { :autocomplete => autocomplete_surname_athlets_path } } %>
        <%#= f.input :birthday, :as => :integer, :input_html => { :class => :birthday, :value => athlet.birthday } %>
        <%= f.input :birthday, :as => :string, :input_html => { :class => :birthday, :value => athlet.birthday } %>
        <%# http://stackoverflow.com/questions/10767859/overriding-model-attribute-readers-does-not-affect-simple-form-input-fields %>
        <%#= f.input :sex %>

        <%= f.input :sex, collection: [:M, :W, :U], :input_html => { :class => :sex } %>

        <%= f.input :relaytmsize, :input_html => { :class => :relaytmsize }, :as => :hidden %>
        <%= f.input :transponderid, :input_html => { :class => :transponderid } %>
        <%= f.input :starttime, :input_html => { :class => :starttime } %>

      </fieldset>
    </div>
  </div>
</div>
