
<div class="row relay">
  <div class="col-xs-8">
    <%= simple_form_for(@relay, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
              <% if @relay.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@relay.errors.count, "error") %> prohibited this @relay from being saved:</h2>
                  <ul>
                  <% @relay.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Staffel</div>
        <div class="panel-body">
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :club, :input_html => {
              :data => { :autocomplete => autocomplete_club_athlets_path } } %>
            <%#= f.input :event %>
            <%= f.input :event,:collection => Event.where(:team_size => @relay.relaytmsize).where(:active => true).order(:name => :asc),:label_method => :name,:value_method => :name ,:include_blank => false %>
            <%= f.input :relaystarter %>
            <%= f.input :relaystarttime %>
            <%= f.input :relaytmsize, :as => :hidden %>

          </div>
        </div>
      </div>
    </div>

    <%= f.simple_fields_for :athlets do |athlet_form| %>
      <%= render 'athlet_fields', f:athlet_form %>
    <% end %>
  </div>
  <div class="actions">
    <%= submit_tag "Update", :class => "btn btn-primary" %>
  </div>
<% end %>

  </div>
  <div class="col-xs-4">
    <div id="suggestionBar" class="affix-top" data-spy="affix" data-offset-top="160" data-offset-bottom="0">
      <div class="panel panel-primary athlet">
        <div class="panel-heading">
          <%= fa_icon 'refresh' %>
          Vorschläge
        </div>
      </div>
      <div id="suggestionBox"></div>
    </div>
  </div>
</div>