<div class="page-header">
  <h1>Staffeln</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
  <% events = Event.where.not(:team_size => 1).where(:active => true) %>
  <%# debugger %>
  <% session[:eventRelay] = Event.first.name if session[:eventRelay].nil? %>
  <% events.each do |event| %>
      <li class="<%= (event.name == session[:eventRelay]) ? 'active' : '' %>">
        <a href="#<%= event.name %>" role="tab" data-toggle="tab"><%= event.name %></a>
      </li>
  <% end %>
</ul>

<div class="tab-content">
  <% active = true %>
  <% Event.where.not(:team_size => 1).where(:active => true).each do |event| %>
      <div class="tab-pane <%= (event.name == session[:eventRelay]) ? 'active' : '' %>" id="<%= event.name %>">
        <% active = false %>
        <!-- <div class="section"> -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              <%= event.name %>
            </div>
          </div>
        </div>
        
        <br />
        <%= link_to 'Neues Team anmelden', new_relay_path(:eventname => event.name), :class => 'btn btn-default' %>

        <table class="table table-bordered table-striped datatable searchable">
          <thead>
          <tr>
            <th>Staffel-Startnummer</th>
            <th>Verein</th>
            <th>Veranstaltung</th>
            <th>Teamgröße</th>
            <th class="no-sort"></th>
          </tr>
          </thead>

          <tbody>
          <% Relay.event(event.name).each do |relay| %>
              <%# debugger %>
              <tr>
                <td><%= relay.relaystarter %></td>
                <td><%= link_to relay.club, relay_path(:id => relay.relaystarter) %></td>
                <td><%= relay.eventname %></td>
                <td><%= relay.relaytmsize %></td>
                <td>
                  <%= link_to edit_relay_path(:id => relay.relaystarter), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
                      <%= tag :span, :class => "glyphicon glyphicon-edit" %>
                  <% end %>
                  <%= link_to relay_path(:id => relay.relaystarter), :title => t("general.destroy"), data: {confirm: t('general.are_you_sure'), :toggle => "tooltip"}, method: :delete do %>
                      <%= tag :span, :class => "glyphicon glyphicon-trash" %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to 'Neues Team anmelden', new_relay_path(:eventname => event.name), :class => 'btn btn-default' %>
      </div>
  <% end %>
</div>