<dl class="dl-horizontal">
  <dt>Verein (Staffelname):</dt>
  <dd><%= @relay.club %></dd>

  <dt>Veranstaltung:</dt>
  <dd><%= @relay.event %></dd>

  <dt>Staffel-Starternummer:</dt>
  <dd><%= @relay.relaystarter %></dd>

  <dt>Staffel-Teamgröße:</dt>
  <dd><%= @relay.relaytmsize %></dd>

  <dt>Startzeit:</dt>
  <dd><%= @relay.relaystarttime %></dd>
</dl>

<table class="table table-bordered table-striped datatable searchable">
  <thead>
  <tr>
    <th>Starternummer</th>
    <th>Name</th>
    <th>Geburtsjahr</th>
    <th>Geschlecht</th>
    <th>Staffel-Teilnehmer</th>
    <th>Transponder-Id</th>
    <th>Startzeit</th>
  </tr>
  </thead>

  <tbody>
  <% @relay.athlets.each do |athlet| %>
      <tr>
        <td><%= athlet.starter %></td>
        <td><%= athlet.name %></td>
        <td><%= athlet.birthday %></td>
        <td><%= athlet.sex %></td>
        <td><%= athlet.relaytm %></td>
        <td><%= athlet.transponderid %></td>
        <td><%= athlet.starttime %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_relay_path(:id => @relay.relaystarter) %> |
<%= link_to 'Back', relays_path %>
